<!-- app/views/questions/show.html.erb -->
<h1><%= @question.question %></h1>

<%= button_to "A #{@question.choiceA}", question_path(@question, question: { answer: "A" }), method: :put, form_class: "button-to-form" %>
<%= button_to "B #{@question.choiceB}", question_path(@question, question: { answer: "B" }), method: :put, form_class: "button-to-form" %>
