<!-- app/views/questions/show.html.erb -->
<main>
    <p><%= @question.question %></>
    <div class="button-to-form">
        <%= button_to "#{@question.choiceA}", question_path(@question, question: { answer: "A" }), method: :put, form_class: "a-button" %>
        <%= button_to "#{@question.choiceB}", question_path(@question, question: { answer: "B" }), method: :put, form_class: "b-button" %>
    <div>
</main>


