<div class="first-block">
    <%# <button class="start_button" type="button"><a href="https://google.com">診断スタート</a></button> %>
    <%= button_to '診断スタート', question_path(1), method: :get, class: 'btn btn-primary' %>
</div>