<!-- app/views/results/show.html.erb -->
<main>
  <p>あなたのMBTIは <%= @mbti_string %> です。</p>

  <h2>あなたの強み</h2>
  <ol>
    <% @mbti_features['strengths'].each do |feature| %>
      <li><%= feature %></li>
    <% end %>
  </ol>

  <h2>あなたの弱み</h2>
  <ol>
    <% @mbti_features['weaknesses'].each do |feature| %>
      <li><%= feature %></li>
    <% end %>
  </ol>

  <h2>あなたにぴったりの職業はこちら</h2>
  <%= link_to "もう一度診断する", root_path %>
</main>