<!-- app/views/results/show.html.erb -->
<header>
  <h1>診断結果</h1>
</header>

<main>
  <p>あなたのMBTIは <%= @mbti_alphabets.join %> です。</p>

  <h2>あなたの強み</h2>
  <ol>
    <li>創造カ豊かで好奇心旺盛</li>
    <li>他者の感情に共感しやすい</li>
    <li>大胆なアイデアを生み出す力がある</li>
  </ol>

  <h2>あなたの弱み</h2>
  <ol>
    <li>計画性に乏しい</li>
    <li>型にはめられるのが嫌い</li>
    <li>周りの影響を受けやすい</li>
  </ol>

  <h2>あなたにぴったりの職業はこちら</h2>
</main>
  <%= link_to "もう一度診断する", root_path %>

<footer>
  <p><small>&copy; 2023 benesse hackathon team7</p>
</footer>

