/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ボタン */

button {
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: none;
    color: #fff;
    font-size: 1em;
    justify-content: center;
}

.button-to-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.a-button, .b-button {
    padding: 10px 20px; /* パディングを調整 */
    border: none; /* ボーダーを削除 */
    color: white; /* 文字色 */
    font-size: 1em; /* フォントサイズ */
    cursor: pointer; /* カーソルを指に */
    transition: background-color 0.3s; /* 背景色のトランジション */
}

.a-button {
    background-color: #4CAF50; /* 緑色 */
}

.a-button:hover {
    background-color: #45a049; /* ホバー時の色 */
}

.b-button {
    background-color: #f44336; /* 赤色 */
}

.b-button:hover {
    background-color: #d73833; /* ホバー時の色 */
}
/* end */


/* header, footerをまとめて定義 */
header h1 {
    background-color: #808080;
    font-size: 70px;
    color: #fff;
    padding: 8px 14px;
    text-align: center;
}

footer {
    margin-top: 100px;
    padding: 30px;
    text-align: center;
    color: #fff;
    background-color: #808080;

    width: 100%;
    position: absolute;
    bottom: 0;
}

small {
    font-size: 0.7rem;
}
/* end */

main p {
    font-size: 30px;
    text-align: center;
}

main h2 {
    font-size: 25px;
    text-align: center;
}

main ol {
    font-size: 20px;
    border: 2px solid #F3F3F3;
    padding: 14px 14px 14px 32px;
    text-align: center;
}

main li {
    list-style: none;
}

